APP_NAME=ApiTfd
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# --- BANCO PRINCIPAL ---
DB_CONNECTION=pgsql
DB_HOST=host.postgres
DB_PORT=5432
DB_DATABASE=ses.tfd
DB_USERNAME=postgres
DB_PASSWORD=postgres

# --- CONEXÕES SECUNDÁRIAS COM OUTROS BANCOS ---
DB_AUTH_CONNECTION=auth
DB_AUTH_HOST=host.postgres
DB_AUTH_PORT=5432
DB_AUTH_DATABASE=ses.auth
DB_AUTH_USERNAME=postgres
DB_AUTH_PASSWORD=postgres

DB_CORE_CONNECTION=core
DB_CORE_HOST=host.postgres
DB_CORE_PORT=5432
DB_CORE_DATABASE=ses.core
DB_CORE_USERNAME=postgres
DB_CORE_PASSWORD=postgres

DB_STORAGE_CONNECTION=storage
DB_STORAGE_HOST=host.postgres
DB_STORAGE_PORT=5432
DB_STORAGE_DATABASE=ses.storage
DB_STORAGE_USERNAME=postgres
DB_STORAGE_PASSWORD=postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=memcached_db

REDIS_CLIENT=phpredis
REDIS_HOST=redis_db
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"

# --- AUTENTICAÇÃO E CHAVES JWT ---
JWT_SECRET=
JWT_ALGO=RS512
JWT_PRIVATE_KEY=file://../storage/certs/jwt-rsa-4096-private.pem
JWT_PUBLIC_KEY=file://../storage/certs/jwt-rsa-4096-public.pem
JWT_PASSPHRASE=

# --- COMUNICAÇÃO INTERNA DOCKER ---
AUTH_URL=http://api-auth:8000

# --- PUSHER / WEBSOCKETS ---
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=sa1
PUSHER_PORT=443
PUSHER_SCHEME=https